extends layout

block content
	.home-page(data-username= user.username)
		.header
		.upper-container
			.upper
				span= user.username
				a(href="/logout") Logout
		.todo-container
			.loading
				img(src="/images/ajax-loader.gif")
			#root.clearfix
				#task-container.clearfix
