body{
	background: #fff;
	margin: 0 !important
}

.clearfix:after {
  content: " "; /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.upper,
.todo-container{
	background: #fff;
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:center;
}

.clear-list-form{
	padding: 10px;
}

.clear-list-form input{
	border-radius: 10px;
	display: block;
}

.header{
	background: rgba(40,57,101,.9);
	height: 100px;
	width: 100%;
}

.home-page{
	width: 100%;
}

.upper{
	border-bottom: 1px solid #e5e5e5;
	height: 70px;
	margin: 0 auto;
	max-width: 600px;
	text-align: right;
	width: 100%;
}

.upper span{
	border-right: 1px solid #cdcdcd;
	color: #777;
	display: inline-block;
	margin: 10px 0;
	padding: 16px 10px;
}

.upper a{
	color: #777;
	display: inline-block;
	margin: 10px 0;
	padding: 16px 10px;
	text-decoration: none;
}

.upper a:hover{
	text-decoration: underline;
}

.upper h2{
	border-bottom: 1px solid;
}

#task-count h2{
	text-align: center;
}

.todo-container{
	margin: 0 auto;
	max-width: 800px;
	width: 100%;
}

.todo-container #root{
	/*float: left;*/
	min-height: 500px;
}

.todo-container .new-todo{
	margin: 0 auto;
	padding: 10px 0;
	width: 400px;
}

.todo-container .new-todo-input{
  border: 1px solid #dcdcdc;
  border-radius: 6px;
  padding: 15px 10px;
	width: 375px;
}

.todo-container .new-todo-button{
	background: rgba(40,57,101,.9);
	border: 1px solid #dcdcdc;
  border-radius: 6px;
  color: #FAFAFA;
  display: block;
  padding: 8px 10px;
  margin: 10px auto 0;
  width: 100px;
}

.todo-container .new-todo-button:hover{
	background-color: #FAFAFA;
	border: 1px solid rgba(40,57,101,.9);
	box-shadow: 0 0 3px rgba(40,57,101,.9);
  color: rgba(40,57,101,.9);
	cursor: pointer;
}

.todo-container .new-todo-input:focus{
	outline: none !important;
}

.task-nav{
	margin: 0 5%;
}

.task-nav a{
	background-color: #e4e4e4;
  border: 1px solid #cdcdcd;
  color: #777;
	display: inline-block;
	font-size: 15px;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
	width: 33%;
}

.task-nav a:hover{
	background-color: #FFF;
}

.task-nav a.active{
	background-color: #FFF;
}

.todo-list{
	float: left;
	list-style-type: disc;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
	width: 50%;
}

.todo-list-one{
	float: none;
	margin: 0 auto;
}

.todo-list h3{
	text-align: center;
}

.todo-list li{
	border: 1px solid #cdcdcd;
	list-style: none;
	margin-bottom: 8px;
	text-align: center;
}

.todo-list li span{
	display: block;
	padding: 15px 0;
}

.todo-list li a{
  background-color: #e4e4e4;
	border: 1px solid #cdcdcd;
  color: #777;
  cursor: pointer;
	display: inline-block;
	font-size: 15px;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
	width: 49%;
}

.todo-list li a:hover{
  background-color: #FFF;
	display: inline-block;
	text-align: center;
	width: 49%;
}

.clear-list-form .clear-completed{
	background: rgba(40,57,101,.9);
  border: 1px solid #dcdcdc;
  border-radius: 6px;
  color: #FAFAFA;
  display: block;
  padding: 8px 10px;
  margin: 10px auto 0;
  width: 140px;
}

.clear-list-form .clear-completed:hover{
	background-color: #FAFAFA;
	border: 1px solid rgba(40,57,101,.9);
	box-shadow: 0 0 3px rgba(40,57,101,.9);
  color: rgba(40,57,101,.9);
	cursor: pointer;
}